.navbar {
    background-color: transparent;
}

.app-header .navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-right: 0;
    background-color: transparent;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9)
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.335938rem;
    padding-bottom: 0.335938rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}