.sidebar .nav-collapse-items {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;
}

.nav-item.open {
    background: rgba(0, 0, 0, 0.2);
}

.app-body .sidebar {
    flex: 0 0 215px;
}